* {
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    justify-content: space-between;
    align-items: center;
    display: flex;

    img {
        height: 100px;
        width: 100px; /* corrigido */
        margin-left: 80px;
    }
}

nav {
    display: flex;
    gap: 70px;
    margin-right: 200px;

    a {
        color: #fff;
        text-decoration: none;
        display: flex;
    }
}

.comeco {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh; /* ocupa a tela */
    text-align: center;

    background-image: url("imagens/foto1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .texto {
        z-index: 2;
        color: #fff;
        max-width: 600px;
        background: rgba(0, 0, 0, 0.575);
        padding: 20px;
        border-radius: 10px;
    }
}

.membros {
  max-width: 1000px;
  margin: auto;

 h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  min-width: 300px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  
}

.card p {
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.4;
}
.juliano{
    background-image: url(imagens/JULIANO.jpg);
    height: 605px;
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}
}



